<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 
	<head> 
    	<meta charset="UTF-8" /> 
    	<title>{{ page.title }}</title> 
    	<link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/reset.css" media="screen"> 
    	<link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/text.css" media="screen"> 
    	<link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/960.css" media="screen">
	</head>
	<body>
	<div class="container_12"> 
		<header id="header"> 
			<h1><a href="/"><span>@</span>m3nt0r</h1> 
			<nav> 
				<a href="/">Index</a> ~
				<a href="http://github.com/m3nt0r">GitHub</a> ~
				<a href="http://twitter.com/m3nt0r">Twitter</a> ~
				<a href="mailto:m3nt0r.de@gmail.com">E-Mail</a> 
			</nav> 
		</header> 
		<div id="content" role="main"> 
			{{ content }}
		</div>
		<footer id="footer"> 
        	design &amp; content by Kjell Bublitz (m3nt0r), &copy; 2005-2011
		</footer>
	</div>
	</body>
</html>