<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 
	<head> 
		<meta charset="UTF-8" /> 
    	<title>{{ page.title }} @m3nt0r</title> 
    	<link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/style.css" media="screen">
	</head>
	<body>
	<div id="page"> 	
		<nav id="top"> 
			<span class="avatar">@m3nt0r</span>
			<a href="/">Index</a> &#8776;
			<a href="http://github.com/m3nt0r">GitHub</a> &#8776;
			<a href="http://twitter.com/m3nt0r">Twitter</a> &#8776;
			<a href="mailto:m3nt0r.de@gmail.com">E-Mail</a> 
		</nav>
		<header id="header">  
			<h1><a href="/">&#9734; Kjell Bublitz</a></h1>
			<span class="subtitle">Webdeveloper</span>
		</header> 
		<div id="content" role="main"> 
			{{ content }}
		</div>
		<footer id="footer"> 
        	design &amp; content by Kjell Bublitz (m3nt0r), &copy; 2005-2011
		</footer>
	</div>
	</body>
</html>